*{
    box-sizing: border-box;
}

body{
    background-color: #ff5e43;
    font-family: Arial;
}

main{
    max-width: 300px;
    height: 500px;
    margin: auto;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(163, 163, 163);
}

.heading{
    text-align: center;
    position: relative;
}

h3{
    margin: auto;
    padding-top: 1em;
    color: #ff5e43;
}

img{
    position: relative;
    margin-top: 0.55em;
    border-radius: 0 0px 10px 10px;
}

.button{
    position: absolute;
    margin-top: 23em;
    margin-left: -19.5em;
    background-color: #ff5e43;
    color: #f6f6f6;
    text-align: center;
    border: none;
    padding: 1em 5em 1em 5em;
    cursor: pointer;
}

